body
{
	background-image: url("yay.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}